.partOne {
  background-image: url("https://i.imgur.com/FUyyljL.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding-top: 50px;
  position: relative;
}

.partTwo {
  background-color: rgba(199, 216, 154, 0.4);
}
