.dreams_body {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}
.feed {
  overflow-wrap: anywhere !important;
}

.dreams {
  display: flex;
}
.dream_box {
  display: flex;
}
.dream_box > div > img {
  width: 40%;
}
